Repository next-friday/eslint-plugin-nextfriday: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, npx sort-package-json

.lintstagedrc.json:

{
  "*.{js,ts}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,yml,yaml}": "npx prettier --write",
  "*.md": ["npx prettier --write"],
  "**/package.json": ["npx sort-package-json"]
}

fix(nextjs): exempt routing dirs from name rules (#116)
  .changeset/docs-context7-quality.md
  .changeset/nextjs-routing-disable-filename-rules.md
  CLAUDE.md
  README.md
  docs/rules/ENFORCE_CONSTANT_CASE.md
  docs/rules/FILE_KEBAB_CASE.md
  docs/rules/JSX_PASCAL_CASE.md
  skills/eslint-plugin-nextfriday/SKILL.md
  skills/eslint-plugin-nextfriday/naming-conventions.md
  src/__tests__/configs.test.ts
  src/index.ts
Due: npx eslint --fix, npx prettier --write

chore(release): version packages (#117)
  .changeset/docs-context7-quality.md
  .changeset/nextjs-routing-disable-filename-rules.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add index-only and type-import lints
  .changeset/index-export-only-rule.md
  .changeset/no-inline-type-import-rule.md
  CLAUDE.md
  README.md
  docs/rules/INDEX_EXPORT_ONLY.md
  docs/rules/NO_INLINE_TYPE_IMPORT.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/index-export-only.test.ts
  src/rules/__tests__/no-inline-type-import.test.ts
  src/rules/index-export-only.ts
  src/rules/no-inline-type-import.ts
Due: npx eslint --fix, npx prettier --write

feat(rules): add index-only and type-import lints (#118)
  .changeset/index-export-only-rule.md
  .changeset/no-inline-type-import-rule.md
  CLAUDE.md
  README.md
  docs/rules/INDEX_EXPORT_ONLY.md
  docs/rules/NO_INLINE_TYPE_IMPORT.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/index-export-only.test.ts
  src/rules/__tests__/no-inline-type-import.test.ts
  src/rules/index-export-only.ts
  src/rules/no-inline-type-import.ts
Due: npx eslint --fix, npx prettier --write

chore(release): version packages (#119)
  .changeset/index-export-only-rule.md
  .changeset/no-inline-type-import-rule.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

fix(constant-case): narrow to magic literals
  .changeset/enforce-constant-case-narrow-scope.md
  docs/rules/ENFORCE_CONSTANT_CASE.md
  src/rules/__tests__/enforce-constant-case.test.ts
  src/rules/enforce-constant-case.ts
Due: npx eslint --fix, npx prettier --write

fix(constant-case): narrow to magic literals (#120)
  .changeset/enforce-constant-case-narrow-scope.md
  docs/rules/ENFORCE_CONSTANT_CASE.md
  src/rules/__tests__/enforce-constant-case.test.ts
  src/rules/enforce-constant-case.ts
Due: npx eslint --fix, npx prettier --write

chore(release): version packages (#121)
  .changeset/enforce-constant-case-narrow-scope.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

chore(changeset): rename release.md to standard pattern
  .changeset/rules-overhaul-major.md
Due: npx prettier --write

feat(rules): remove deprecated rules
  .changeset/rules-overhaul-major.md
Due: npx prettier --write

chore(changeset): add release note via changesets/write
  .changeset/empty-eels-repair.md
Due: npx prettier --write

chore(release): version packages (#123)
  .changeset/empty-eels-repair.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(jsx): add ghost-wrapper and fragment rules
  .changeset/clean-pants-eat.md
  CLAUDE.md
  README.md
  docs/rules/NO_GHOST_WRAPPER.md
  docs/rules/NO_REDUNDANT_FRAGMENT.md
  skills/eslint-plugin-nextfriday/SKILL.md
  skills/eslint-plugin-nextfriday/code-style.md
  skills/eslint-plugin-nextfriday/complete-examples.md
  skills/eslint-plugin-nextfriday/formatting.md
  skills/eslint-plugin-nextfriday/import-patterns.md
  skills/eslint-plugin-nextfriday/jsx-patterns.md
  skills/eslint-plugin-nextfriday/naming-conventions.md
  skills/eslint-plugin-nextfriday/type-patterns.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/no-ghost-wrapper.test.ts
  src/rules/__tests__/no-redundant-fragment.test.ts
  src/rules/no-ghost-wrapper.ts
  src/rules/no-redundant-fragment.ts
Due: npx eslint --fix, npx prettier --write

feat(jsx): add ghost-wrapper and fragment rules (#124)
  .changeset/clean-pants-eat.md
  CLAUDE.md
  README.md
  docs/rules/NO_GHOST_WRAPPER.md
  docs/rules/NO_REDUNDANT_FRAGMENT.md
  skills/eslint-plugin-nextfriday/SKILL.md
  skills/eslint-plugin-nextfriday/code-style.md
  skills/eslint-plugin-nextfriday/complete-examples.md
  skills/eslint-plugin-nextfriday/formatting.md
  skills/eslint-plugin-nextfriday/import-patterns.md
  skills/eslint-plugin-nextfriday/jsx-patterns.md
  skills/eslint-plugin-nextfriday/naming-conventions.md
  skills/eslint-plugin-nextfriday/type-patterns.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/no-ghost-wrapper.test.ts
  src/rules/__tests__/no-redundant-fragment.test.ts
  src/rules/no-ghost-wrapper.ts
  src/rules/no-redundant-fragment.ts
Due: npx eslint --fix, npx prettier --write

chore(release): version packages (#125)
  .changeset/clean-pants-eat.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(jsx): add data, sub-interface, render rules
  .changeset/shaky-walls-sink.md
  CLAUDE.md
  README.md
  docs/rules/ENFORCE_RENDER_NAMING.md
  docs/rules/JSX_NO_DATA_ARRAY.md
  docs/rules/JSX_NO_DATA_OBJECT.md
  docs/rules/JSX_NO_SUB_INTERFACE.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-render-naming.test.ts
  src/rules/__tests__/jsx-no-data-array.test.ts
  src/rules/__tests__/jsx-no-data-object.test.ts
  src/rules/__tests__/jsx-no-sub-interface.test.ts
  src/rules/enforce-render-naming.ts
  src/rules/jsx-no-data-array.ts
  src/rules/jsx-no-data-object.ts
  src/rules/jsx-no-sub-interface.ts
Due: npx eslint --fix, npx prettier --write

feat(jsx): add data, sub-interface, render rules (#126)
  .changeset/shaky-walls-sink.md
  CLAUDE.md
  README.md
  docs/rules/ENFORCE_RENDER_NAMING.md
  docs/rules/JSX_NO_DATA_ARRAY.md
  docs/rules/JSX_NO_DATA_OBJECT.md
  docs/rules/JSX_NO_SUB_INTERFACE.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-render-naming.test.ts
  src/rules/__tests__/jsx-no-data-array.test.ts
  src/rules/__tests__/jsx-no-data-object.test.ts
  src/rules/__tests__/jsx-no-sub-interface.test.ts
  src/rules/enforce-render-naming.ts
  src/rules/jsx-no-data-array.ts
  src/rules/jsx-no-data-object.ts
  src/rules/jsx-no-sub-interface.ts
Due: npx eslint --fix, npx prettier --write

chore(release): version packages (#127)
  .changeset/shaky-walls-sink.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add hook and test file enforcement rules
  .changeset/bold-worms-pick.md
  CLAUDE.md
  README.md
  docs/rules/ENFORCE_HOOK_FILENAME.md
  docs/rules/ENFORCE_TEST_FILENAME.md
  docs/rules/NO_HELPER_FUNCTION_IN_HOOK.md
  docs/rules/NO_HELPER_FUNCTION_IN_TEST.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-hook-filename.test.ts
  src/rules/__tests__/enforce-test-filename.test.ts
  src/rules/__tests__/no-helper-function-in-hook.test.ts
  src/rules/__tests__/no-helper-function-in-test.test.ts
  src/rules/enforce-hook-filename.ts
  src/rules/enforce-test-filename.ts
  src/rules/no-helper-function-in-hook.ts
  src/rules/no-helper-function-in-test.ts
Due: npx eslint --fix, npx prettier --write

feat(rules): add hook and test file enforcement rules (#128)
  .changeset/bold-worms-pick.md
  CLAUDE.md
  README.md
  docs/rules/ENFORCE_HOOK_FILENAME.md
  docs/rules/ENFORCE_TEST_FILENAME.md
  docs/rules/NO_HELPER_FUNCTION_IN_HOOK.md
  docs/rules/NO_HELPER_FUNCTION_IN_TEST.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-hook-filename.test.ts
  src/rules/__tests__/enforce-test-filename.test.ts
  src/rules/__tests__/no-helper-function-in-hook.test.ts
  src/rules/__tests__/no-helper-function-in-test.test.ts
  src/rules/enforce-hook-filename.ts
  src/rules/enforce-test-filename.ts
  src/rules/no-helper-function-in-hook.ts
  src/rules/no-helper-function-in-test.ts
Due: npx eslint --fix, npx prettier --write

chore(release): version packages (#129)
  .changeset/bold-worms-pick.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

chore(deps): upgrade deps and migrate tsup to tsdown for ts6
  .changeset/whole-onions-thank.md
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/__tests__/meta.test.ts
  tsconfig.json
  tsdown.config.ts
  tsup.config.ts
Due: npx eslint --fix, npx prettier --write, npx sort-package-json

chore(changeset): update whole-onions-thank description
  .changeset/whole-onions-thank.md
Due: npx prettier --write

chore(deps): bump engines node requirement to >=22.10.0
  .nvmrc
  package.json
Due: npx prettier --write, npx sort-package-json

fix(ci): create pnpm store when install-deps is false
  .github/common-actions/install/action.yml
Due: npx prettier --write

chore(deps): upgrade deps and migrate tsup to tsdown for ts6 (#130)
  .changeset/whole-onions-thank.md
  .github/common-actions/install/action.yml
  .nvmrc
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/__tests__/meta.test.ts
  tsconfig.json
  tsdown.config.ts
  tsup.config.ts
Due: npx eslint --fix, npx prettier --write, npx sort-package-json

chore(release): version packages (#131)
  .changeset/whole-onions-thank.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

fix(rules): add filename guards to all jsx rules
  src/index.ts
  src/rules/__tests__/no-helper-function-in-hook.test.ts
  src/rules/__tests__/no-helper-function-in-test.test.ts
  src/rules/enforce-readonly-component-props.ts
  src/rules/jsx-newline-between-elements.ts
  src/rules/jsx-no-inline-object-prop.ts
  src/rules/jsx-no-newline-single-line-elements.ts
  src/rules/jsx-no-ternary-null.ts
  src/rules/jsx-no-variable-in-callback.ts
  src/rules/jsx-require-suspense.ts
  src/rules/jsx-simple-props.ts
  src/rules/jsx-sort-props.ts
  src/rules/jsx-spread-props-last.ts
  src/rules/no-ghost-wrapper.ts
  src/rules/no-helper-function-in-hook.ts
  src/rules/no-helper-function-in-test.ts
  src/rules/no-redundant-fragment.ts
  src/rules/prefer-jsx-template-literals.ts
  src/rules/prefer-props-with-children.ts
  src/rules/prefer-react-import-types.ts
  src/rules/react-props-destructure.ts
Due: npx eslint --fix, npx prettier --write

fix(tests): update filename in no-helper-function-in-hook
  src/rules/__tests__/no-helper-function-in-hook.test.ts
Due: npx eslint --fix, npx prettier --write

chore(changeset): update shaggy-years-train description
  .changeset/shaggy-years-train.md
Due: npx prettier --write

fix(rules): add filename guards to jsx rules (#132)
  .changeset/shaggy-years-train.md
  src/index.ts
  src/rules/__tests__/no-helper-function-in-hook.test.ts
  src/rules/__tests__/no-helper-function-in-test.test.ts
  src/rules/enforce-readonly-component-props.ts
  src/rules/jsx-newline-between-elements.ts
  src/rules/jsx-no-inline-object-prop.ts
  src/rules/jsx-no-newline-single-line-elements.ts
  src/rules/jsx-no-ternary-null.ts
  src/rules/jsx-no-variable-in-callback.ts
  src/rules/jsx-require-suspense.ts
  src/rules/jsx-simple-props.ts
  src/rules/jsx-sort-props.ts
  src/rules/jsx-spread-props-last.ts
  src/rules/no-ghost-wrapper.ts
  src/rules/no-helper-function-in-hook.ts
  src/rules/no-helper-function-in-test.ts
  src/rules/no-redundant-fragment.ts
  src/rules/prefer-jsx-template-literals.ts
  src/rules/prefer-props-with-children.ts
  src/rules/prefer-react-import-types.ts
  src/rules/react-props-destructure.ts
Due: npx eslint --fix, npx prettier --write

chore(release): version packages (#133)
  .changeset/shaggy-years-train.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

fix(rules): enhance prefer-import-type rule
  CLAUDE.md
  src/rules/__tests__/prefer-import-type.test.ts
  src/rules/prefer-import-type.ts
Due: npx eslint --fix, npx prettier --write

fix(rules): remove prefer-inline-type-export rule
  CLAUDE.md
  README.md
  docs/rules/PREFER_INLINE_TYPE_EXPORT.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/prefer-inline-type-export.test.ts
  src/rules/prefer-inline-type-export.ts
Due: npx eslint --fix, npx prettier --write

fix(rules): update prefer-props-with-children rule
  docs/rules/PREFER_PROPS_WITH_CHILDREN.md
  src/rules/__tests__/prefer-props-with-children.test.ts
  src/rules/prefer-props-with-children.ts
Due: npx eslint --fix, npx prettier --write

fix(rules): remove prefer-inline-type-export rule
  .changeset/eight-worms-cross.md
Due: npx prettier --write

fix(rules): prefer-import-type (#134)
  .changeset/eight-worms-cross.md
  CLAUDE.md
  README.md
  docs/rules/PREFER_INLINE_TYPE_EXPORT.md
  docs/rules/PREFER_PROPS_WITH_CHILDREN.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/prefer-import-type.test.ts
  src/rules/__tests__/prefer-inline-type-export.test.ts
  src/rules/__tests__/prefer-props-with-children.test.ts
  src/rules/prefer-import-type.ts
  src/rules/prefer-inline-type-export.ts
  src/rules/prefer-props-with-children.ts
Due: npx eslint --fix, npx prettier --write

chore(release): version packages (#135)
  .changeset/eight-worms-cross.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json
