Repository next-friday/eslint-plugin-nextfriday: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, npx sort-package-json

.lintstagedrc.json:

{
  "*.{js,ts}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,yml,yaml}": "npx prettier --write",
  "*.md": ["npx prettier --write"],
  "**/package.json": ["npx sort-package-json"]
}

fix(deps): sync pnpm-lock.yaml with package.json
  pnpm-lock.yaml
Due: npx prettier --write

fix(plugin): lazy-load external plugins for cjs compat
  CLAUDE.md
  src/index.ts
Due: npx eslint --fix, npx prettier --write

ci(changeset): add changeset for plugin fix
  .changeset/fix-external-plugin-loading.md
Due: npx prettier --write

fix(deps): sync pnpm-lock.yaml with package.json (#69)
  .changeset/fix-external-plugin-loading.md
  CLAUDE.md
  pnpm-lock.yaml
  src/index.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#70)
  .changeset/add-rules-and-bundled-plugins.md
  .changeset/fix-external-plugin-loading.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

docs(rules): add fixable info and bundled configs
  .changeset/update-docs-fixable-bundled.md
  README.md
  docs/rules/ENFORCE_SORTED_DESTRUCTURING.md
  docs/rules/SORT_EXPORTS.md
  docs/rules/SORT_IMPORTS.md
  docs/rules/SORT_TYPE_ALPHABETICALLY.md
  docs/rules/SORT_TYPE_REQUIRED_FIRST.md
Due: npx prettier --write

docs(rules): add fixable info and bundled configs (#71)
  .changeset/update-docs-fixable-bundled.md
  README.md
  docs/rules/ENFORCE_SORTED_DESTRUCTURING.md
  docs/rules/SORT_EXPORTS.md
  docs/rules/SORT_IMPORTS.md
  docs/rules/SORT_TYPE_ALPHABETICALLY.md
  docs/rules/SORT_TYPE_REQUIRED_FIRST.md
Due: npx prettier --write

ci(changesets): version packages (#72)
  .changeset/update-docs-fixable-bundled.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

fix(rules): skip non-element children in adjacency check
  .changeset/fix-jsx-no-newline-expression.md
  src/rules/__tests__/jsx-no-newline-single-line-elements.test.ts
  src/rules/jsx-no-newline-single-line-elements.ts
Due: npx eslint --fix, npx prettier --write

fix(rules): skip non-element children in adjacency check (#73)
  .changeset/fix-jsx-no-newline-expression.md
  src/rules/__tests__/jsx-no-newline-single-line-elements.test.ts
  src/rules/jsx-no-newline-single-line-elements.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#74)
  .changeset/fix-jsx-no-newline-expression.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add three new type pattern rules
  .changeset/three-new-type-rules.md
  CLAUDE.md
  README.md
  docs/rules/ENFORCE_TYPE_DECLARATION_ORDER.md
  docs/rules/NO_NESTED_INTERFACE_DECLARATION.md
  docs/rules/PREFER_INLINE_LITERAL_UNION.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-type-declaration-order.test.ts
  src/rules/__tests__/no-nested-interface-declaration.test.ts
  src/rules/__tests__/prefer-inline-literal-union.test.ts
  src/rules/enforce-type-declaration-order.ts
  src/rules/no-nested-interface-declaration.ts
  src/rules/prefer-inline-literal-union.ts
Due: npx eslint --fix, npx prettier --write

feat(rules): add three new type pattern rules (#75)
  .changeset/three-new-type-rules.md
  CLAUDE.md
  README.md
  docs/rules/ENFORCE_TYPE_DECLARATION_ORDER.md
  docs/rules/NO_NESTED_INTERFACE_DECLARATION.md
  docs/rules/PREFER_INLINE_LITERAL_UNION.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-type-declaration-order.test.ts
  src/rules/__tests__/no-nested-interface-declaration.test.ts
  src/rules/__tests__/prefer-inline-literal-union.test.ts
  src/rules/enforce-type-declaration-order.ts
  src/rules/no-nested-interface-declaration.ts
  src/rules/prefer-inline-literal-union.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#76)
  .changeset/three-new-type-rules.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

docs(skills): add agent skill for eslint rules
  README.md
  skills/eslint-plugin-nextfriday/SKILL.md
  skills/eslint-plugin-nextfriday/code-style.md
  skills/eslint-plugin-nextfriday/complete-examples.md
  skills/eslint-plugin-nextfriday/formatting.md
  skills/eslint-plugin-nextfriday/import-patterns.md
  skills/eslint-plugin-nextfriday/jsx-patterns.md
  skills/eslint-plugin-nextfriday/naming-conventions.md
  skills/eslint-plugin-nextfriday/type-patterns.md
Due: npx prettier --write

docs(skills): add agent skill for eslint rules (#77)
  README.md
  skills/eslint-plugin-nextfriday/SKILL.md
  skills/eslint-plugin-nextfriday/code-style.md
  skills/eslint-plugin-nextfriday/complete-examples.md
  skills/eslint-plugin-nextfriday/formatting.md
  skills/eslint-plugin-nextfriday/import-patterns.md
  skills/eslint-plugin-nextfriday/jsx-patterns.md
  skills/eslint-plugin-nextfriday/naming-conventions.md
  skills/eslint-plugin-nextfriday/type-patterns.md
Due: npx prettier --write

ci(changesets): add empty changeset for docs refactor
  .changeset/standardize-docs-and-code.md
Due: npx prettier --write

docs(readme): streamline readme and update claude.md
  CLAUDE.md
  README.md
Due: npx prettier --write

fix(rules): add expression group to jsx-sort-props
  .changeset/jsx-sort-props-expression-group.md
  docs/rules/JSX_SORT_PROPS.md
  src/rules/__tests__/jsx-sort-props.test.ts
  src/rules/jsx-sort-props.ts
Due: npx eslint --fix, npx prettier --write

fix(rules): add expression group to jsx-sort-props (#79)
  .changeset/jsx-sort-props-expression-group.md
  docs/rules/JSX_SORT_PROPS.md
  src/rules/__tests__/jsx-sort-props.test.ts
  src/rules/jsx-sort-props.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#80)
  .changeset/jsx-sort-props-expression-group.md
  .changeset/standardize-docs-and-code.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add hyphenated string group to jsx-sort-props
  .changeset/jsx-sort-props-hyphenated-string.md
  docs/rules/JSX_SORT_PROPS.md
  src/rules/__tests__/jsx-sort-props.test.ts
  src/rules/jsx-sort-props.ts
Due: npx eslint --fix, npx prettier --write

fix(rules): include self-closing in newline check
  .changeset/jsx-sort-props-hyphenated-string.md
  src/rules/__tests__/jsx-newline-between-elements.test.ts
  src/rules/jsx-newline-between-elements.ts
Due: npx eslint --fix, npx prettier --write

feat(rules): add hyphenated string group to jsx-sort-props (#81)
  .changeset/jsx-sort-props-hyphenated-string.md
  docs/rules/JSX_SORT_PROPS.md
  src/rules/__tests__/jsx-newline-between-elements.test.ts
  src/rules/__tests__/jsx-sort-props.test.ts
  src/rules/jsx-newline-between-elements.ts
  src/rules/jsx-sort-props.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#82)
  .changeset/jsx-sort-props-hyphenated-string.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add jsx-no-ternary-null rule
  .changeset/jsx-no-ternary-null.md
  CLAUDE.md
  README.md
  docs/rules/JSX_NO_TERNARY_NULL.md
  skills/eslint-plugin-nextfriday/SKILL.md
  skills/eslint-plugin-nextfriday/complete-examples.md
  skills/eslint-plugin-nextfriday/jsx-patterns.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/jsx-no-ternary-null.test.ts
  src/rules/jsx-no-ternary-null.ts
Due: npx eslint --fix, npx prettier --write

feat(rules): add jsx-no-ternary-null rule (#83)
  .changeset/jsx-no-ternary-null.md
  CLAUDE.md
  README.md
  docs/rules/JSX_NO_TERNARY_NULL.md
  skills/eslint-plugin-nextfriday/SKILL.md
  skills/eslint-plugin-nextfriday/complete-examples.md
  skills/eslint-plugin-nextfriday/jsx-patterns.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/jsx-no-ternary-null.test.ts
  src/rules/jsx-no-ternary-null.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#84)
  .changeset/jsx-no-ternary-null.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add new rules and improve constant case handling
  .changeset/constant-case-improvements.md
  CLAUDE.md
  README.md
  docs/rules/ENFORCE_CONSTANT_CASE.md
  docs/rules/JSX_NEWLINE_BETWEEN_ELEMENTS.md
  docs/rules/NO_LAZY_IDENTIFIERS.md
  docs/rules/NO_MISLEADING_CONSTANT_CASE.md
  docs/rules/PREFER_INLINE_TYPE_EXPORT.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-constant-case.test.ts
  src/rules/__tests__/jsx-newline-between-elements.test.ts
  src/rules/__tests__/no-lazy-identifiers.test.ts
  src/rules/__tests__/no-misleading-constant-case.test.ts
  src/rules/__tests__/prefer-inline-type-export.test.ts
  src/rules/enforce-constant-case.ts
  src/rules/jsx-newline-between-elements.ts
  src/rules/no-lazy-identifiers.ts
  src/rules/no-misleading-constant-case.ts
  src/rules/prefer-inline-type-export.ts
Due: npx eslint --fix, npx prettier --write

feat(rules): add new rules and improve constant case handling (#85)
  .changeset/constant-case-improvements.md
  CLAUDE.md
  README.md
  docs/rules/ENFORCE_CONSTANT_CASE.md
  docs/rules/JSX_NEWLINE_BETWEEN_ELEMENTS.md
  docs/rules/NO_LAZY_IDENTIFIERS.md
  docs/rules/NO_MISLEADING_CONSTANT_CASE.md
  docs/rules/PREFER_INLINE_TYPE_EXPORT.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-constant-case.test.ts
  src/rules/__tests__/jsx-newline-between-elements.test.ts
  src/rules/__tests__/no-lazy-identifiers.test.ts
  src/rules/__tests__/no-misleading-constant-case.test.ts
  src/rules/__tests__/prefer-inline-type-export.test.ts
  src/rules/enforce-constant-case.ts
  src/rules/jsx-newline-between-elements.ts
  src/rules/no-lazy-identifiers.ts
  src/rules/no-misleading-constant-case.ts
  src/rules/prefer-inline-type-export.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#86)
  .changeset/constant-case-improvements.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add no-inline-return-properties rule
  .changeset/add-inline-return-properties-rule.md
  CLAUDE.md
  README.md
  docs/rules/NO_INLINE_RETURN_PROPERTIES.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/no-inline-return-properties.test.ts
  src/rules/no-inline-return-properties.ts
Due: npx eslint --fix, npx prettier --write

feat(rules): add no-inline-return-properties rule (#87)
  .changeset/add-inline-return-properties-rule.md
  CLAUDE.md
  README.md
  docs/rules/NO_INLINE_RETURN_PROPERTIES.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/no-inline-return-properties.test.ts
  src/rules/no-inline-return-properties.ts
Due: npx eslint --fix, npx prettier --write

chore(deps): update dependencies
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: npx prettier --write, npx sort-package-json

chore(deps): update dependencies (#89)
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: npx prettier --write, npx sort-package-json

feat(rules): add naming convention rules and fix bugs
  .changeset/fix-as-const-screaming-case.md
  CLAUDE.md
  README.md
  docs/rules/ENFORCE_CAMEL_CASE.md
  docs/rules/ENFORCE_CONSTANT_CASE.md
  docs/rules/ENFORCE_PROPERTY_CASE.md
  docs/rules/NO_MISLEADING_CONSTANT_CASE.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-camel-case.test.ts
  src/rules/__tests__/enforce-constant-case.test.ts
  src/rules/__tests__/enforce-property-case.test.ts
  src/rules/__tests__/no-misleading-constant-case.test.ts
  src/rules/__tests__/prefer-import-type.test.ts
  src/rules/enforce-camel-case.ts
  src/rules/enforce-constant-case.ts
  src/rules/enforce-property-case.ts
  src/rules/no-misleading-constant-case.ts
  src/rules/prefer-import-type.ts
Due: npx eslint --fix, npx prettier --write, npx sort-package-json

feat(rules): add naming convention rules and fix bugs (#90)
  .changeset/fix-as-const-screaming-case.md
  CLAUDE.md
  README.md
  docs/rules/ENFORCE_CAMEL_CASE.md
  docs/rules/ENFORCE_CONSTANT_CASE.md
  docs/rules/ENFORCE_PROPERTY_CASE.md
  docs/rules/NO_MISLEADING_CONSTANT_CASE.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-camel-case.test.ts
  src/rules/__tests__/enforce-constant-case.test.ts
  src/rules/__tests__/enforce-property-case.test.ts
  src/rules/__tests__/no-misleading-constant-case.test.ts
  src/rules/__tests__/prefer-import-type.test.ts
  src/rules/enforce-camel-case.ts
  src/rules/enforce-constant-case.ts
  src/rules/enforce-property-case.ts
  src/rules/no-misleading-constant-case.ts
  src/rules/prefer-import-type.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#91)
  .changeset/add-inline-return-properties-rule.md
  .changeset/fix-as-const-screaming-case.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json
