Repository next-friday/eslint-plugin-nextfriday: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, npx sort-package-json

chore(release): bump version to 1.2.3 (#22)
  .changeset/old-bats-design.md
  src/rules/__tests__/prefer-destructuring-params.test.ts
  src/rules/enforce-readonly-component-props.ts
  src/rules/file-kebab-case.ts
  src/rules/jsx-pascal-case.ts
  src/rules/md-filename-case-restriction.ts
  src/rules/no-emoji.ts
  src/rules/no-explicit-return-type.ts
  src/rules/prefer-destructuring-params.ts
  src/rules/prefer-import-type.ts
  src/rules/prefer-interface-over-inline-types.ts
  src/rules/prefer-react-import-types.ts
  src/rules/react-props-destructure.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#23)
  .changeset/old-bats-design.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add prefer-named-param-types rule
  .changeset/old-bats-design.md
  .changeset/shaggy-trees-retire.md
  .claude/hooks/quality-check.sh
  .claude/settings.json
  .mcp.json
  CLAUDE.md
  README.md
  docs/rules/PREFER_NAMED_PARAM_TYPES.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/prefer-named-param-types.test.ts
  src/rules/prefer-named-param-types.ts
Due: npx eslint --fix, npx prettier --write

chore(release): bump version to 1.2.3
  package.json
Due: npx prettier --write, npx sort-package-json

chore(release): bump version to 1.3.0 (#24)
  .changeset/shaggy-trees-retire.md
  .claude/hooks/quality-check.sh
  .claude/settings.json
  .mcp.json
  CLAUDE.md
  README.md
  docs/rules/PREFER_NAMED_PARAM_TYPES.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/prefer-named-param-types.test.ts
  src/rules/prefer-named-param-types.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#25)
  .changeset/shaggy-trees-retire.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rule): add no-complex-inline-return rule
  CLAUDE.md
  README.md
  docs/rules/NO_COMPLEX_INLINE_RETURN.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/no-complex-inline-return.test.ts
  src/rules/no-complex-inline-return.ts
Due: npx eslint --fix, npx prettier --write

feat(rule): add no-logic-in-params rule
  CLAUDE.md
  README.md
  docs/rules/NO_LOGIC_IN_PARAMS.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/no-logic-in-params.test.ts
  src/rules/__tests__/react-props-destructure.test.ts
  src/rules/no-logic-in-params.ts
Due: npx eslint --fix, npx prettier --write

feat(rules): add new rules for improved code readability
  .changeset/salty-singers-care.md
Due: npx prettier --write

chore(release): bump version to 1.4.0 (#26)
  .changeset/salty-singers-care.md
  CLAUDE.md
  README.md
  docs/rules/NO_COMPLEX_INLINE_RETURN.md
  docs/rules/NO_LOGIC_IN_PARAMS.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/no-complex-inline-return.test.ts
  src/rules/__tests__/no-logic-in-params.test.ts
  src/rules/__tests__/react-props-destructure.test.ts
  src/rules/no-complex-inline-return.ts
  src/rules/no-logic-in-params.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#27)
  .changeset/salty-singers-care.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

chore(release): bump version to 1.5.0
  .changeset/add-no-env-fallback-rule.md
  .claude/hooks/quality-check.sh
  .claude/settings.json
  README.md
  docs/rules/NO_ENV_FALLBACK.md
  package.json
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/no-env-fallback.test.ts
  src/rules/no-env-fallback.ts
Due: npx eslint --fix, npx prettier --write, npx sort-package-json

chore(release): bump version to 1.5.0 (#28)
  .changeset/add-no-env-fallback-rule.md
  .claude/hooks/quality-check.sh
  .claude/settings.json
  README.md
  docs/rules/NO_ENV_FALLBACK.md
  package.json
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/no-env-fallback.test.ts
  src/rules/no-env-fallback.ts
Due: npx eslint --fix, npx prettier --write, npx sort-package-json

ci(changesets): version packages (#29)
  .changeset/add-no-env-fallback-rule.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

chore(release): bump version to 1.5.1
  .changeset/fix-install-warnings.md
  package.json
Due: npx prettier --write, npx sort-package-json

chore(release): bump version to 1.5.1 (#30)
  .changeset/fix-install-warnings.md
  package.json
Due: npx prettier --write, npx sort-package-json

ci(changesets): version packages (#31)
  .changeset/fix-install-warnings.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

chore(release): bump version to 1.5.2
  .changeset/update-scripts.md
  package.json
Due: npx prettier --write, npx sort-package-json

chore(release): bump version to 1.5.2 (#32)
  .changeset/update-scripts.md
  package.json
Due: npx prettier --write, npx sort-package-json

ci(changesets): version packages (#33)
  .changeset/update-scripts.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

chore(release): bump version to 1.5.3
  .changeset/fix-missing-build-step.md
  .github/workflows/release.yml
  package.json
Due: npx prettier --write, npx sort-package-json

chore(release): bump version to 1.5.3 (#34)
  .changeset/fix-missing-build-step.md
  .github/workflows/release.yml
  package.json
Due: npx prettier --write, npx sort-package-json

ci(changesets): version packages (#35)
  .changeset/fix-missing-build-step.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

chore(mcp): remove unused configurations from .mcp.json
  .mcp.json
Due: npx prettier --write

refactor(core): use replaceAll for consistency
  src/rules/__tests__/prefer-import-type.test.ts
  src/rules/enforce-readonly-component-props.ts
  src/rules/file-kebab-case.ts
  src/rules/jsx-pascal-case.ts
  src/rules/md-filename-case-restriction.ts
  src/rules/no-complex-inline-return.ts
  src/rules/no-emoji.ts
  src/rules/no-env-fallback.ts
  src/rules/no-explicit-return-type.ts
  src/rules/no-logic-in-params.ts
  src/rules/prefer-destructuring-params.ts
  src/rules/prefer-import-type.ts
  src/rules/prefer-interface-over-inline-types.ts
  src/rules/prefer-named-param-types.ts
  src/rules/prefer-react-import-types.ts
  src/rules/react-props-destructure.ts
Due: npx eslint --fix, npx prettier --write

feat(rules): add new ESLint rules for improved code quality
  .changeset/add-new-rules.md
  README.md
  docs/rules/ENFORCE_SORTED_DESTRUCTURING.md
  docs/rules/JSX_NO_NON_COMPONENT_FUNCTION.md
  docs/rules/JSX_NO_VARIABLE_IN_CALLBACK.md
  docs/rules/PREFER_JSX_TEMPLATE_LITERALS.md
  eslint.config.mjs
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-sorted-destructuring.test.ts
  src/rules/__tests__/jsx-no-non-component-function.test.ts
  src/rules/__tests__/jsx-no-variable-in-callback.test.ts
  src/rules/__tests__/prefer-jsx-template-literals.test.ts
  src/rules/enforce-sorted-destructuring.ts
  src/rules/jsx-no-non-component-function.ts
  src/rules/jsx-no-variable-in-callback.ts
  src/rules/prefer-jsx-template-literals.ts
Due: npx eslint --fix, npx prettier --write

fix(ci): update CodeQL workflow to skip analysis
  .github/workflows/codeql.yml
Due: npx prettier --write

fix(ci): simplify CodeQL workflow to run on all PRs
  .github/workflows/codeql.yml
Due: npx prettier --write

chore(release): bump version to 1.6.0 (#36)
  .changeset/add-new-rules.md
  .github/workflows/codeql.yml
  .mcp.json
  README.md
  docs/rules/ENFORCE_SORTED_DESTRUCTURING.md
  docs/rules/JSX_NO_NON_COMPONENT_FUNCTION.md
  docs/rules/JSX_NO_VARIABLE_IN_CALLBACK.md
  docs/rules/PREFER_JSX_TEMPLATE_LITERALS.md
  eslint.config.mjs
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-sorted-destructuring.test.ts
  src/rules/__tests__/jsx-no-non-component-function.test.ts
  src/rules/__tests__/jsx-no-variable-in-callback.test.ts
  src/rules/__tests__/prefer-import-type.test.ts
  src/rules/__tests__/prefer-jsx-template-literals.test.ts
  src/rules/enforce-readonly-component-props.ts
  src/rules/enforce-sorted-destructuring.ts
  src/rules/file-kebab-case.ts
  src/rules/jsx-no-non-component-function.ts
  src/rules/jsx-no-variable-in-callback.ts
  src/rules/jsx-pascal-case.ts
  src/rules/md-filename-case-restriction.ts
  src/rules/no-complex-inline-return.ts
  src/rules/no-emoji.ts
  src/rules/no-env-fallback.ts
  src/rules/no-explicit-return-type.ts
  src/rules/no-logic-in-params.ts
  src/rules/prefer-destructuring-params.ts
  src/rules/prefer-import-type.ts
  src/rules/prefer-interface-over-inline-types.ts
  src/rules/prefer-jsx-template-literals.ts
  src/rules/prefer-named-param-types.ts
  src/rules/prefer-react-import-types.ts
  src/rules/react-props-destructure.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#37)
  .changeset/add-new-rules.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

chore(ci): update Node setup and checkout action versions
  .github/workflows/release.yml
Due: npx prettier --write

ci(release): update Node setup and checkout action version
  .github/workflows/release.yml
Due: npx prettier --write

ci(release): update Node setup and checkout action version (#39)
  .github/workflows/release.yml
Due: npx prettier --write

ci(release): update Node.js version in release workflow to 22
  .github/workflows/release.yml
Due: npx prettier --write

ci(release): update Node.js version in release workflow to 22 (#40)
  .github/workflows/release.yml
Due: npx prettier --write

feat(rules): add no-direct-date and other new rules
  .changeset/add-no-direct-date-rule.md
  README.md
  docs/rules/BOOLEAN_NAMING_PREFIX.md
  docs/rules/NO_DIRECT_DATE.md
  docs/rules/NO_EXPLICIT_RETURN_TYPE.md
  docs/rules/NO_SINGLE_CHAR_VARIABLES.md
  docs/rules/PREFER_FUNCTION_DECLARATION.md
  docs/rules/REQUIRE_EXPLICIT_RETURN_TYPE.md
  src/__tests__/configs.test.ts
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/boolean-naming-prefix.test.ts
  src/rules/__tests__/no-direct-date.test.ts
  src/rules/__tests__/no-explicit-return-type.test.ts
  src/rules/__tests__/no-single-char-variables.test.ts
  src/rules/__tests__/prefer-function-declaration.test.ts
  src/rules/__tests__/require-explicit-return-type.test.ts
  src/rules/boolean-naming-prefix.ts
  src/rules/no-direct-date.ts
  src/rules/no-explicit-return-type.ts
  src/rules/no-single-char-variables.ts
  src/rules/prefer-function-declaration.ts
  src/rules/require-explicit-return-type.ts
Due: npx eslint --fix, npx prettier --write

feat(rules): implement core quality rules set
  .changeset/add-no-direct-date-rule.md
  README.md
  docs/rules/BOOLEAN_NAMING_PREFIX.md
  docs/rules/NO_DIRECT_DATE.md
  docs/rules/NO_EXPLICIT_RETURN_TYPE.md
  docs/rules/NO_SINGLE_CHAR_VARIABLES.md
  docs/rules/PREFER_FUNCTION_DECLARATION.md
  docs/rules/REQUIRE_EXPLICIT_RETURN_TYPE.md
  src/__tests__/configs.test.ts
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/boolean-naming-prefix.test.ts
  src/rules/__tests__/no-direct-date.test.ts
  src/rules/__tests__/no-explicit-return-type.test.ts
  src/rules/__tests__/no-single-char-variables.test.ts
  src/rules/__tests__/prefer-function-declaration.test.ts
  src/rules/__tests__/require-explicit-return-type.test.ts
  src/rules/boolean-naming-prefix.ts
  src/rules/no-direct-date.ts
  src/rules/no-explicit-return-type.ts
  src/rules/no-single-char-variables.ts
  src/rules/prefer-function-declaration.ts
  src/rules/require-explicit-return-type.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#42)
  .changeset/add-no-direct-date-rule.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add no-lazy-identifiers rule
  .changeset/add-no-lazy-identifiers.md
  README.md
  docs/rules/NO_LAZY_IDENTIFIERS.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/no-lazy-identifiers.test.ts
  src/rules/no-lazy-identifiers.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,ts}
  npx prettier --write: ((any of: *.{js,ts}) or (any of: *.{json,yml,yaml})) or (any of: *.md)
  npx sort-package-json: any of: **/package.json
