Repository next-friday/eslint-plugin-nextfriday: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, npx sort-package-json

feat(rules): rework enforce-service-naming v2
  .changeset/enforce-service-naming-v2.md
  README.md
  docs/rules/ENFORCE_SERVICE_NAMING.md
  docs/rules/MD_FILENAME_CASE_RESTRICTION.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-service-naming.test.ts
  src/rules/__tests__/md-filename-case-restriction.test.ts
  src/rules/enforce-service-naming.ts
  src/rules/md-filename-case-restriction.ts
Due: npx eslint --fix, npx prettier --write

fix(docs): update counts and fix doc errors
  .changeset/enforce-service-naming-v2.md
  .gitignore
  CLAUDE.md
  README.md
  docs/rules/ENFORCE_CURLY_NEWLINE.md
  docs/rules/JSX_NO_TERNARY_NULL.md
  docs/rules/NO_INLINE_NESTED_OBJECT.md
  docs/rules/PREFER_INLINE_LITERAL_UNION.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/__tests__/rules.test.ts
  src/rules/__tests__/boolean-naming-prefix.test.ts
  src/rules/__tests__/enforce-constant-case.test.ts
  src/rules/__tests__/no-inline-nested-object.test.ts
  src/rules/boolean-naming-prefix.ts
  src/rules/no-inline-nested-object.ts
Due: npx eslint --fix, npx prettier --write, npx sort-package-json

fix(deps): revert package.json range changes
  package.json
  pnpm-lock.yaml
Due: npx prettier --write, npx sort-package-json

fix(rules): rework service-naming and fix docs (#92)
  .changeset/enforce-service-naming-v2.md
  .gitignore
  CLAUDE.md
  README.md
  docs/rules/ENFORCE_CURLY_NEWLINE.md
  docs/rules/ENFORCE_SERVICE_NAMING.md
  docs/rules/JSX_NO_TERNARY_NULL.md
  docs/rules/MD_FILENAME_CASE_RESTRICTION.md
  docs/rules/NO_INLINE_NESTED_OBJECT.md
  docs/rules/PREFER_INLINE_LITERAL_UNION.md
  eslint.config.mjs
  pnpm-lock.yaml
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/boolean-naming-prefix.test.ts
  src/rules/__tests__/enforce-constant-case.test.ts
  src/rules/__tests__/enforce-service-naming.test.ts
  src/rules/__tests__/md-filename-case-restriction.test.ts
  src/rules/__tests__/no-inline-nested-object.test.ts
  src/rules/boolean-naming-prefix.ts
  src/rules/enforce-service-naming.ts
  src/rules/md-filename-case-restriction.ts
  src/rules/no-inline-nested-object.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#93)
  .changeset/enforce-service-naming-v2.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add auto-fix to jsx-sort-props
  README.md
  docs/rules/JSX_SORT_PROPS.md
  src/rules/__tests__/jsx-sort-props.test.ts
  src/rules/jsx-sort-props.ts
Due: npx eslint --fix, npx prettier --write

chore(changeset): add changeset for jsx-sort-props
  .changeset/jsx-sort-props-autofix.md
Due: npx prettier --write

ci(actions): upgrade github actions to v5
  .github/common-actions/install/action.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
Due: npx prettier --write

feat(rules): add auto-fix to jsx-sort-props (#94)
  .changeset/jsx-sort-props-autofix.md
  .github/common-actions/install/action.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  README.md
  docs/rules/JSX_SORT_PROPS.md
  src/rules/__tests__/jsx-sort-props.test.ts
  src/rules/jsx-sort-props.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#95)
  .changeset/jsx-sort-props-autofix.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

docs(claude): expand commands and tooling notes
  CLAUDE.md
Due: npx prettier --write

chore(deps): upgrade deps to latest compatible
  .changeset/upgrade-deps.md
  package.json
  pnpm-lock.yaml
  src/rules/prefer-function-declaration.ts
  src/rules/require-explicit-return-type.ts
Due: npx eslint --fix, npx prettier --write, npx sort-package-json

ci(validation): scope check to version field
  .github/workflows/changeset-version-validation.yml
Due: npx prettier --write

feat(rules): add jsx-spread-props-last rule
  .changeset/jsx-spread-props-last.md
  README.md
  docs/rules/JSX_SPREAD_PROPS_LAST.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/jsx-spread-props-last.test.ts
  src/rules/jsx-spread-props-last.ts
Due: npx eslint --fix, npx prettier --write

chore(deps): upgrade deps to latest compatible (#96)
  .changeset/upgrade-deps.md
  .github/workflows/changeset-version-validation.yml
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  src/rules/prefer-function-declaration.ts
  src/rules/require-explicit-return-type.ts
Due: npx eslint --fix, npx prettier --write, npx sort-package-json

chore(context7): fix config schema and filename
  context7.json
Due: npx prettier --write

ci(changesets): version packages (#98)
  .changeset/upgrade-deps.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add jsx-spread-props-last rule (#97)
  .changeset/jsx-spread-props-last.md
  .changeset/upgrade-deps.md
  README.md
  context7.json
  docs/rules/JSX_SPREAD_PROPS_LAST.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/jsx-spread-props-last.test.ts
  src/rules/jsx-spread-props-last.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#99)
  .changeset/jsx-spread-props-last.md
  .changeset/upgrade-deps.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

chore(context7): switch to hosted config format
  context7.json
Due: npx prettier --write

chore(context7): switch to hosted config format (#100)
  context7.json
Due: npx prettier --write

chore(deps): upgrade eslint to v10
  .changeset/eslint-v10.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: npx prettier --write, npx sort-package-json

chore(deps): upgrade eslint to v10 (#101)
  .changeset/eslint-v10.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: npx prettier --write, npx sort-package-json

ci(changesets): version packages (#102)
  .changeset/eslint-v10.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

docs: add auto-generated code documentation
  docs/codedocs/api-reference/configs.md
  docs/codedocs/api-reference/plugin.md
  docs/codedocs/api-reference/rules.md
  docs/codedocs/architecture.md
  docs/codedocs/guides/adopting-flat-config.md
  docs/codedocs/guides/manual-rule-composition.md
  docs/codedocs/guides/react-and-nextjs.md
  docs/codedocs/index.md
  docs/codedocs/preset-configs.md
  docs/codedocs/rule-execution-model.md
  docs/codedocs/rule-families.md
Due: npx prettier --write

refactor(rules): clean up jsx-newline-between-elements
  .changeset/jsx-newline-cleanup.md
  docs/rules/JSX_NEWLINE_BETWEEN_ELEMENTS.md
  src/rules/jsx-newline-between-elements.ts
Due: npx eslint --fix, npx prettier --write

feat(permissions): update permissions configuration
  .claude/settings.json
Due: npx prettier --write

ci(github): standardize workflows and add labeler
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/changeset-version-validation.yml
  .github/workflows/codeql.yml
  .github/workflows/commit-message-validation.yml
  .github/workflows/labeler.yml
  .github/workflows/pull-request-title-validation.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
Due: npx prettier --write

chore(infra): tighten claude permissions and ci (#105)
  .claude/settings.json
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/changeset-version-validation.yml
  .github/workflows/codeql.yml
  .github/workflows/commit-message-validation.yml
  .github/workflows/labeler.yml
  .github/workflows/pull-request-title-validation.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
Due: npx prettier --write

ci(workflows): auto-approve trusted bot prs
  .github/workflows/auto-approve-trusted-bots.yml
Due: npx prettier --write

chore(github): tighten workflows and add audit
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/changeset-version-validation.yml
  .github/workflows/commit-message-validation.yml
  .github/workflows/pull-request-title-validation.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  package.json
Due: npx prettier --write, npx sort-package-json

chore(github): tighten workflows and add audit (#113)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/changeset-version-validation.yml
  .github/workflows/commit-message-validation.yml
  .github/workflows/pull-request-title-validation.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  package.json
Due: npx prettier --write, npx sort-package-json

chore(release): hardening and breaking cleanup
  .changeset/remove-bundled-sonarjs-unicorn.md
  .changeset/scope-jsx-pascal-case-via-preset.md
  .changeset/skip-config-files-in-enforce-constant-case.md
  CLAUDE.md
  README.md
  docs/rules/BOOLEAN_NAMING_PREFIX.md
  docs/rules/ENFORCE_CONSTANT_CASE.md
  docs/rules/FILE_KEBAB_CASE.md
  docs/rules/JSX_PASCAL_CASE.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/__tests__/configs.test.ts
  src/index.ts
  src/rules/__tests__/enforce-constant-case.test.ts
  src/rules/enforce-constant-case.ts
Due: npx eslint --fix, npx prettier --write, npx sort-package-json

fix(release): unblock ci and update import syntax
  .github/workflows/changeset-version-validation.yml
  src/index.ts
Due: npx eslint --fix, npx prettier --write

chore(deps): drop sonarjs/unicorn dead code
  src/__mocks__/eslint-plugin-sonarjs.ts
  src/__mocks__/eslint-plugin-unicorn.ts
Due: npx eslint --fix, npx prettier --write

chore(build): drop sonarjs/unicorn from configs
  jest.config.ts
  tsup.config.ts
Due: npx eslint --fix, npx prettier --write

chore(release): hardening and breaking cleanup (#114)
  .changeset/remove-bundled-sonarjs-unicorn.md
  .changeset/scope-jsx-pascal-case-via-preset.md
  .changeset/skip-config-files-in-enforce-constant-case.md
  .github/workflows/changeset-version-validation.yml
  CLAUDE.md
  README.md
  docs/rules/BOOLEAN_NAMING_PREFIX.md
  docs/rules/ENFORCE_CONSTANT_CASE.md
  docs/rules/FILE_KEBAB_CASE.md
  docs/rules/JSX_PASCAL_CASE.md
  eslint.config.mjs
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/__mocks__/eslint-plugin-sonarjs.ts
  src/__mocks__/eslint-plugin-unicorn.ts
  src/__tests__/configs.test.ts
  src/index.ts
  src/rules/__tests__/enforce-constant-case.test.ts
  src/rules/enforce-constant-case.ts
  tsup.config.ts
Due: npx eslint --fix, npx prettier --write, npx sort-package-json

chore(release): version packages (#115)
  .changeset/remove-bundled-sonarjs-unicorn.md
  .changeset/scope-jsx-pascal-case-via-preset.md
  .changeset/skip-config-files-in-enforce-constant-case.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

fix(nextjs): exempt routing dirs from name rules
  .changeset/docs-context7-quality.md
  .changeset/nextjs-routing-disable-filename-rules.md
  CLAUDE.md
  README.md
  docs/rules/ENFORCE_CONSTANT_CASE.md
  docs/rules/FILE_KEBAB_CASE.md
  docs/rules/JSX_PASCAL_CASE.md
  skills/eslint-plugin-nextfriday/SKILL.md
  skills/eslint-plugin-nextfriday/naming-conventions.md
  src/__tests__/configs.test.ts
  src/index.ts
Due: npx eslint --fix, npx prettier --write

Path conditions:
  npx eslint --fix: any of: *.{js,ts}
  npx prettier --write: ((any of: *.{js,ts}) or (any of: *.{json,yml,yaml})) or (any of: *.md)
  npx sort-package-json: any of: **/package.json
