Repository next-friday/eslint-plugin-nextfriday: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, npx sort-package-json

feat(rules): add no-lazy-identifiers rule (#43)
  .changeset/add-no-lazy-identifiers.md
  README.md
  docs/rules/NO_LAZY_IDENTIFIERS.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/no-lazy-identifiers.test.ts
  src/rules/no-lazy-identifiers.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#44)
  .changeset/add-no-lazy-identifiers.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add no-inline-default-export rule
  .changeset/add-no-inline-default-export.md
  README.md
  docs/rules/NO_INLINE_DEFAULT_EXPORT.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/no-inline-default-export.test.ts
  src/rules/no-inline-default-export.ts
Due: npx eslint --fix, npx prettier --write

feat(rules): add no-inline-default-export rule (#45)
  .changeset/add-no-inline-default-export.md
  README.md
  docs/rules/NO_INLINE_DEFAULT_EXPORT.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/no-inline-default-export.test.ts
  src/rules/no-inline-default-export.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#46)
  .changeset/add-no-inline-default-export.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add formatting rules for code consistency
  .changeset/three-new-formatting-rules.md
  README.md
  docs/rules/JSX_NEWLINE_BETWEEN_ELEMENTS.md
  docs/rules/NEWLINE_AFTER_MULTILINE_BLOCK.md
  docs/rules/NEWLINE_BEFORE_RETURN.md
  docs/rules/NO_INLINE_NESTED_OBJECT.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/jsx-newline-between-elements.test.ts
  src/rules/__tests__/newline-after-multiline-block.test.ts
  src/rules/__tests__/newline-before-return.test.ts
  src/rules/__tests__/no-inline-nested-object.test.ts
  src/rules/jsx-newline-between-elements.ts
  src/rules/newline-after-multiline-block.ts
  src/rules/newline-before-return.ts
  src/rules/no-inline-nested-object.ts
Due: npx eslint --fix, npx prettier --write

feat(rules): add formatting rules for code consistency (#47)
  .changeset/three-new-formatting-rules.md
  README.md
  docs/rules/JSX_NEWLINE_BETWEEN_ELEMENTS.md
  docs/rules/NEWLINE_AFTER_MULTILINE_BLOCK.md
  docs/rules/NEWLINE_BEFORE_RETURN.md
  docs/rules/NO_INLINE_NESTED_OBJECT.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/jsx-newline-between-elements.test.ts
  src/rules/__tests__/newline-after-multiline-block.test.ts
  src/rules/__tests__/newline-before-return.test.ts
  src/rules/__tests__/no-inline-nested-object.test.ts
  src/rules/jsx-newline-between-elements.ts
  src/rules/newline-after-multiline-block.ts
  src/rules/newline-before-return.ts
  src/rules/no-inline-nested-object.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#48)
  .changeset/three-new-formatting-rules.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

fix(no-inline-nested-object): allow arrays with only primitive values inline
  .changeset/allow-primitive-arrays-inline.md
  src/rules/__tests__/no-inline-nested-object.test.ts
  src/rules/no-inline-nested-object.ts
Due: npx eslint --fix, npx prettier --write

fix(no-inline-nested-object): allow arrays with only primitive values inline (#49)
  .changeset/allow-primitive-arrays-inline.md
  src/rules/__tests__/no-inline-nested-object.test.ts
  src/rules/no-inline-nested-object.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#50)
  .changeset/allow-primitive-arrays-inline.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

fix(newline-after-multiline-block): exclude imports from blank line requirement
  .changeset/exclude-imports-multiline.md
  src/rules/__tests__/newline-after-multiline-block.test.ts
  src/rules/__tests__/prefer-import-type.test.ts
  src/rules/newline-after-multiline-block.ts
Due: npx eslint --fix, npx prettier --write

fix(newline-after-multiline-block): exclude imports from blank line requirement (#51)
  .changeset/exclude-imports-multiline.md
  src/rules/__tests__/newline-after-multiline-block.test.ts
  src/rules/__tests__/prefer-import-type.test.ts
  src/rules/newline-after-multiline-block.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#52)
  .changeset/exclude-imports-multiline.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(no-inline-default-export): extend rule to flag inline named exports
  .changeset/extend-no-inline-export.md
  docs/rules/FILE_KEBAB_CASE.md
  docs/rules/JSX_NO_NON_COMPONENT_FUNCTION.md
  docs/rules/JSX_PASCAL_CASE.md
  docs/rules/NO_INLINE_DEFAULT_EXPORT.md
  docs/rules/PREFER_FUNCTION_DECLARATION.md
  docs/rules/REQUIRE_EXPLICIT_RETURN_TYPE.md
  src/rules/__tests__/no-inline-default-export.test.ts
  src/rules/no-inline-default-export.ts
Due: npx eslint --fix, npx prettier --write

feat(no-inline-default-export): extend rule to flag inline named exports (#53)
  .changeset/extend-no-inline-export.md
  docs/rules/FILE_KEBAB_CASE.md
  docs/rules/JSX_NO_NON_COMPONENT_FUNCTION.md
  docs/rules/JSX_PASCAL_CASE.md
  docs/rules/NO_INLINE_DEFAULT_EXPORT.md
  docs/rules/PREFER_FUNCTION_DECLARATION.md
  docs/rules/REQUIRE_EXPLICIT_RETURN_TYPE.md
  src/rules/__tests__/no-inline-default-export.test.ts
  src/rules/no-inline-default-export.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#54)
  .changeset/extend-no-inline-export.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

fix(enforce-sorted-destructuring): simplify to alphabetical sorting only
  .changeset/fix-sorted-destructuring.md
  docs/rules/ENFORCE_SORTED_DESTRUCTURING.md
  src/rules/__tests__/enforce-sorted-destructuring.test.ts
  src/rules/enforce-sorted-destructuring.ts
Due: npx eslint --fix, npx prettier --write

fix(enforce-sorted-destructuring): simplify to alphabetical sorting only (#55)
  .changeset/fix-sorted-destructuring.md
  docs/rules/ENFORCE_SORTED_DESTRUCTURING.md
  src/rules/__tests__/enforce-sorted-destructuring.test.ts
  src/rules/enforce-sorted-destructuring.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#56)
  .changeset/fix-sorted-destructuring.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

ci(changesets): version packages (#58)
  .changeset/add-new-rules.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

fix(newline-after-multiline-block): require blank line before multi-line statements
  .changeset/fix-newline-before-multiline.md
  src/rules/__tests__/newline-after-multiline-block.test.ts
  src/rules/newline-after-multiline-block.ts
Due: npx eslint --fix, npx prettier --write

fix(newline-after-multiline-block): require blank line before multi-line statements (#59)
  .changeset/fix-newline-before-multiline.md
  src/rules/__tests__/newline-after-multiline-block.test.ts
  src/rules/newline-after-multiline-block.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#60)
  .changeset/fix-newline-before-multiline.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

docs(newline-after-multiline-block): update docs for blank line before multi-line
  docs/rules/NEWLINE_AFTER_MULTILINE_BLOCK.md
Due: npx prettier --write

docs(newline-after-multiline-block): update docs for blank line before multi-line (#61)
  docs/rules/NEWLINE_AFTER_MULTILINE_BLOCK.md
Due: npx prettier --write

feat(rules): add jsx-simple-props rule
  .changeset/gentle-paws-dance.md
  README.md
  docs/rules/JSX_SIMPLE_PROPS.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/jsx-simple-props.test.ts
  src/rules/jsx-simple-props.ts
Due: npx eslint --fix, npx prettier --write

feat(rules): add jsx-simple-props rule (#62)
  .changeset/gentle-paws-dance.md
  README.md
  docs/rules/JSX_SIMPLE_PROPS.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/jsx-simple-props.test.ts
  src/rules/jsx-simple-props.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#63)
  .changeset/gentle-paws-dance.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

fix(no-logic-in-params): detect logic inside array elements
  .changeset/fix-no-logic-in-params-arrays.md
  CLAUDE.md
  src/rules/__tests__/no-logic-in-params.test.ts
  src/rules/no-logic-in-params.ts
Due: npx eslint --fix, npx prettier --write

fix(no-logic-in-params): detect logic inside array elements (#64)
  .changeset/fix-no-logic-in-params-arrays.md
  CLAUDE.md
  src/rules/__tests__/no-logic-in-params.test.ts
  src/rules/no-logic-in-params.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#65)
  .changeset/fix-no-logic-in-params-arrays.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add sort-type-required-first rule
  .changeset/sort-type-required-first.md
  README.md
  docs/rules/SORT_TYPE_REQUIRED_FIRST.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/sort-type-required-first.test.ts
  src/rules/sort-type-required-first.ts
Due: npx eslint --fix, npx prettier --write

feat(rules): add sort-type-required-first rule (#66)
  .changeset/sort-type-required-first.md
  README.md
  docs/rules/SORT_TYPE_REQUIRED_FIRST.md
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/sort-type-required-first.test.ts
  src/rules/sort-type-required-first.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#67)
  .changeset/sort-type-required-first.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(rules): add rules and bundle plugins
  .changeset/add-rules-and-bundled-plugins.md
  .changeset/sort-type-required-first.md
  README.md
  docs/rules/JSX_NO_NEWLINE_SINGLE_LINE_ELEMENTS.md
  docs/rules/JSX_SORT_PROPS.md
  docs/rules/SORT_EXPORTS.md
  docs/rules/SORT_IMPORTS.md
  docs/rules/SORT_TYPE_ALPHABETICALLY.md
  docs/rules/SORT_TYPE_REQUIRED_FIRST.md
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/__mocks__/eslint-plugin-sonarjs.ts
  src/__mocks__/eslint-plugin-unicorn.ts
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-sorted-destructuring.test.ts
  src/rules/__tests__/jsx-no-newline-single-line-elements.test.ts
  src/rules/__tests__/jsx-sort-props.test.ts
  src/rules/__tests__/prefer-import-type.test.ts
  src/rules/__tests__/sort-exports.test.ts
  src/rules/__tests__/sort-imports.test.ts
  src/rules/__tests__/sort-type-alphabetically.test.ts
  src/rules/enforce-sorted-destructuring.ts
  src/rules/jsx-newline-between-elements.ts
  src/rules/jsx-no-newline-single-line-elements.ts
  src/rules/jsx-sort-props.ts
  src/rules/prefer-import-type.ts
  src/rules/sort-exports.ts
  src/rules/sort-imports.ts
  src/rules/sort-type-alphabetically.ts
  src/rules/sort-type-required-first.ts
  tsup.config.ts
Due: npx eslint --fix, npx prettier --write, npx sort-package-json

feat(rules): add rules and bundle plugins (#68)
  .changeset/add-rules-and-bundled-plugins.md
  README.md
  docs/rules/JSX_NO_NEWLINE_SINGLE_LINE_ELEMENTS.md
  docs/rules/JSX_SORT_PROPS.md
  docs/rules/SORT_EXPORTS.md
  docs/rules/SORT_IMPORTS.md
  docs/rules/SORT_TYPE_ALPHABETICALLY.md
  docs/rules/SORT_TYPE_REQUIRED_FIRST.md
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/__mocks__/eslint-plugin-sonarjs.ts
  src/__mocks__/eslint-plugin-unicorn.ts
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-sorted-destructuring.test.ts
  src/rules/__tests__/jsx-no-newline-single-line-elements.test.ts
  src/rules/__tests__/jsx-sort-props.test.ts
  src/rules/__tests__/prefer-import-type.test.ts
  src/rules/__tests__/sort-exports.test.ts
  src/rules/__tests__/sort-imports.test.ts
  src/rules/__tests__/sort-type-alphabetically.test.ts
  src/rules/enforce-sorted-destructuring.ts
  src/rules/jsx-newline-between-elements.ts
  src/rules/jsx-no-newline-single-line-elements.ts
  src/rules/jsx-sort-props.ts
  src/rules/prefer-import-type.ts
  src/rules/sort-exports.ts
  src/rules/sort-imports.ts
  src/rules/sort-type-alphabetically.ts
  src/rules/sort-type-required-first.ts
  tsup.config.ts
Due: npx eslint --fix, npx prettier --write, npx sort-package-json

Path conditions:
  npx eslint --fix: any of: *.{js,ts}
  npx prettier --write: ((any of: *.{js,ts}) or (any of: *.{json,yml,yaml})) or (any of: *.md)
  npx sort-package-json: any of: **/package.json
