Repository next-friday/eslint-plugin-nextfriday: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx prettier --write, npx sort-package-json

.lintstagedrc.json:

{
  "*.{js,ts}": ["npx eslint --fix", "npx prettier --write"],
  "*.{json,yml,yaml}": "npx prettier --write",
  "*.md": ["npx prettier --write"],
  "**/package.json": ["npx sort-package-json"]
}

chore(changeset): add initial release
  .changeset/plenty-apes-dig.md
Due: npx prettier --write

chore(changeset): add initial release (#3)
  .changeset/plenty-apes-dig.md
Due: npx prettier --write

ci(changesets): version packages (#4)
  .changeset/plenty-apes-dig.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

refactor(prefer-import-type): update import logic
  src/rules/__tests__/prefer-import-type.test.ts
  src/rules/prefer-import-type.ts
Due: npx eslint --fix, npx prettier --write

refactor(config): clean up unused configuration files
  src/configs.ts
  src/meta.ts
  src/rules.ts
Due: npx eslint --fix, npx prettier --write

feat(plugin): restructure ESLint plugin
  src/__tests__/configs.test.ts
  src/__tests__/meta.test.ts
  src/__tests__/rules.test.ts
  src/index.ts
Due: npx eslint --fix, npx prettier --write

refactor(eslint-plugin): consolidate exports and remove deprecated files
  .changeset/hip-kids-swim.md
Due: npx prettier --write

Release/1.0.1 (#6)
  .changeset/hip-kids-swim.md
  src/__tests__/configs.test.ts
  src/__tests__/meta.test.ts
  src/__tests__/rules.test.ts
  src/configs.ts
  src/index.ts
  src/meta.ts
  src/rules.ts
  src/rules/__tests__/prefer-import-type.test.ts
  src/rules/prefer-import-type.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#7)
  .changeset/hip-kids-swim.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(prefer-import-type): enhance rule to exclude runtime imports
  src/rules/__tests__/prefer-import-type.test.ts
  src/rules/prefer-import-type.ts
Due: npx eslint --fix, npx prettier --write

ci(release): fix fetch step to avoid checkout branch conflict
  .github/workflows/release.yml
Due: npx prettier --write

ci(release): fix workflow fetch bug in release.yml
  .changeset/smooth-falcons-live.md
Due: npx prettier --write

chore(release): bump version to 1.0.2 (#9)
  .changeset/smooth-falcons-live.md
  .github/workflows/release.yml
  src/rules/__tests__/prefer-import-type.test.ts
  src/rules/prefer-import-type.ts
Due: npx eslint --fix, npx prettier --write

ci(release): remove duplicate PR title update step
  .github/workflows/release.yml
Due: npx prettier --write

ci(changesets): version packages (#10)
  .changeset/smooth-falcons-live.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

ci(release): remove duplicate PR title update step (#11)
  .github/workflows/release.yml
Due: npx prettier --write

feat(react-props-destructure): add rule to enforce destructuring props
  README.md
  docs/rules/REACT_PROPS_DESTRUCTURE.md
  src/__tests__/configs.test.ts
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/react-props-destructure.test.ts
  src/rules/react-props-destructure.ts
Due: npx eslint --fix, npx prettier --write

docs(rule): update section title for clarity
  docs/rules/REACT_PROPS_DESTRUCTURE.md
Due: npx prettier --write

feat(prefer-react-import-types): add rule to enforce direct
  README.md
  docs/rules/PREFER_REACT_IMPORT_TYPES.md
  src/__tests__/configs.test.ts
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/prefer-react-import-types.test.ts
  src/rules/prefer-react-import-types.ts
Due: npx eslint --fix, npx prettier --write

fix(react-props-destructure): improve logic for identifying React components
  README.md
  docs/rules/PREFER_INTERFACE_OVER_INLINE_TYPES.md
  src/__tests__/configs.test.ts
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/prefer-interface-over-inline-types.test.ts
  src/rules/prefer-interface-over-inline-types.ts
Due: npx eslint --fix, npx prettier --write

feat(eslint-plugin-nextfriday): add new rules for React development
  .changeset/grumpy-bikes-bet.md
Due: npx prettier --write

chore(release): bump version to 1.1.0 (#12)
  .changeset/grumpy-bikes-bet.md
  README.md
  docs/rules/PREFER_INTERFACE_OVER_INLINE_TYPES.md
  docs/rules/PREFER_REACT_IMPORT_TYPES.md
  docs/rules/REACT_PROPS_DESTRUCTURE.md
  src/__tests__/configs.test.ts
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/prefer-interface-over-inline-types.test.ts
  src/rules/__tests__/prefer-react-import-types.test.ts
  src/rules/__tests__/react-props-destructure.test.ts
  src/rules/prefer-interface-over-inline-types.ts
  src/rules/prefer-react-import-types.ts
  src/rules/react-props-destructure.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#13)
  .changeset/grumpy-bikes-bet.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

refactor(rule): improve type checking logic
  src/rules/__tests__/prefer-interface-over-inline-types.test.ts
  src/rules/prefer-interface-over-inline-types.ts
Due: npx eslint --fix, npx prettier --write

refactor(eslint): enhance type checking logic
  .changeset/whole-tires-think.md
Due: npx prettier --write

chore(release): bump version to 1.1.1 (#14)
  .changeset/whole-tires-think.md
  src/rules/__tests__/prefer-interface-over-inline-types.test.ts
  src/rules/prefer-interface-over-inline-types.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#15)
  .changeset/whole-tires-think.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(enforce-readonly-component-props): add rule to enforce Readonly wrapper
  README.md
  docs/rules/ENFORCE_READONLY_COMPONENT_PROPS.md
  src/__tests__/configs.test.ts
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-readonly-component-props.test.ts
  src/rules/enforce-readonly-component-props.ts
Due: npx eslint --fix, npx prettier --write

feat(eslint-plugin-nextfriday): add new rule enforce-readonly-component-props
  .changeset/free-hats-press.md
Due: npx prettier --write

chore(release): bump version to 1.2.0 (#16)
  .changeset/free-hats-press.md
  README.md
  docs/rules/ENFORCE_READONLY_COMPONENT_PROPS.md
  src/__tests__/configs.test.ts
  src/__tests__/rules.test.ts
  src/index.ts
  src/rules/__tests__/enforce-readonly-component-props.test.ts
  src/rules/enforce-readonly-component-props.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#17)
  .changeset/free-hats-press.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

feat(prefer-destructuring-params): add exclusions for specific
  .changeset/purple-lies-sort.md
  src/rules/__tests__/prefer-destructuring-params.test.ts
  src/rules/prefer-destructuring-params.ts
Due: npx eslint --fix, npx prettier --write

chore(release): bump version to 1.2.1 (#18)
  .changeset/purple-lies-sort.md
  src/rules/__tests__/prefer-destructuring-params.test.ts
  src/rules/prefer-destructuring-params.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#19)
  .changeset/purple-lies-sort.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

fix(file-kebab-case): support [name].[type] patterns
  .changeset/thirty-sheep-pay.md
  src/rules/__tests__/file-kebab-case.test.ts
  src/rules/file-kebab-case.ts
Due: npx eslint --fix, npx prettier --write

fix(file-kebab-case): support [name].[type] patterns (#20)
  .changeset/thirty-sheep-pay.md
  src/rules/__tests__/file-kebab-case.test.ts
  src/rules/file-kebab-case.ts
Due: npx eslint --fix, npx prettier --write

ci(changesets): version packages (#21)
  .changeset/thirty-sheep-pay.md
  CHANGELOG.md
  package.json
Due: npx prettier --write, npx sort-package-json

refactor(rules): update rule documentation links
  .changeset/old-bats-design.md
  src/rules/__tests__/prefer-destructuring-params.test.ts
  src/rules/enforce-readonly-component-props.ts
  src/rules/file-kebab-case.ts
  src/rules/jsx-pascal-case.ts
  src/rules/md-filename-case-restriction.ts
  src/rules/no-emoji.ts
  src/rules/no-explicit-return-type.ts
  src/rules/prefer-destructuring-params.ts
  src/rules/prefer-import-type.ts
  src/rules/prefer-interface-over-inline-types.ts
  src/rules/prefer-react-import-types.ts
  src/rules/react-props-destructure.ts
Due: npx eslint --fix, npx prettier --write
